* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h2 {
  color: rgb(13, 63, 104);
}

.container {
  border-radius: 20px;
  padding: 1rem;
  background: #fff;

  height: 100vh;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
}

.btn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 10px 0;
  background-color: rgb(28, 173, 209);
  color: #fff;
  border: 1px solid rgb(13, 63, 104);
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline {
  background-color: #fff;
  color: #333;
}

.center {
  text-align: center;
  margin: 24px 0;
}

p {
  margin: 10px 0;
}

.img-container {
  text-align: center;
}

.img-container img {
  height: 170px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(13, 63, 104);
}
