.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.sub_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.chart_container {
  min-width: 500px;
  max-width: 800px;
  height: 300px;
  margin: 20px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

.chart_container_pies {
  height: 90% !important;
}
